table	{
	border: 1px solid silver;
}
	
td:hover {
	background-color: Turquoise;
	color: SteelBlue;
}

tr, th {
	background-color: SteelBlue;
	color: cornsilk;
}

tr, td {
	background-color: thistle;
	color: black;
}