@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Momo+Signature&display=swap");

/*Navbar*/
.nav-bar {
    position: sticky;
    top: 0;
    z-index: 4;
    /*Set the position of the navbar in the stack layer so it is on the top*/
}

ul {
    list-style-type: none;
    /* removes te default bullet point styling list tag elements*/
    background-color: #363636;
    margin: -10px -10px 0px -10px;
    /*Margin value order top, right, bottom and left */
    overflow: hidden;
    /* hides excess margin space expanding past the browser window edge and prevents a left to right scroll bar*/
    display: flex;
    /*creates flex container so the elements will take up as much of the width that is available*/
    align-items: center;
}

a {
    display: block;
    /* */
    font-family: "Lobster", sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    /* removes the default underline link text-decoration*/
    width: 100px;
    padding: 30px;
    text-align: center;
    transition: background-color 0.4s ease-in;
}

/*navbar rollover effects*/
a:hover,
.drop:hover

/* drop:hover trigger when any one of the links in the images list tag is being hovered over*/
    {
    background-color: rgb(228, 159, 0);
    color: rgb(49, 49, 49);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

/* */
/* styles and hides the anchor links within the images link div tag*/
.rollover-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*display anchor elements when the user hovers their mouse over the images link */
.drop:hover .rollover-menu {
    display: block;
}

/* specifically styles the anchor elements within the div tag that contains the rollover menu class selector*/
.rollover-menu a {
    color: #363636;
}

/*specifically styles the anchor elements within the div tag that contains the rollover menu class selector when the hover effect is triggered */
.rollover-menu a:hover {
    color: white;
}

/*specifically styles the first anchor elements within the rollover-ment div tag*/
.rollover-menu a:hover:nth-child(1) {
    background-color: rgb(177, 20, 20);
}

/*specifically styles the second anchor elements within the rollover-ment div tag*/
.rollover-menu a:hover:nth-child(2) {
    background-color: rgb(87, 7, 7);
}

/*specifically styles the third anchor elements within the rollover-ment div tag*/
.rollover-menu a:hover:nth-child(3) {
    background-color: rgb(48, 2, 2);
}

/*footer*/
footer {
    background-color: #363636;
    margin: 30px -10px -10px -10px;
    /*margin value order top, right, bottom, and left*/
    overflow: hidden;
    /* hides excess margin space expanding past the browser window edge and prevents a left to right scroll bar*/
    height: 70px;
}

/* styles the text in the footer*/
.footer-text {
    font-family: "Lobster", sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgb(228, 159, 0);
    text-align: center
}

/*images*/
img {
    width: 700px;
    height: 550px;
}

/*creates a container for each image to be held in*/
.image-container {
    display: flex;
    justify-content: center;
    padding: 120px;
}

/*Creates a uniform amount of space (as the other two images on the screen) from the navbar to the top of the image when the bookmark link is click on*/
#image3 {
    padding-bottom: 170px;
}

/*image one*/
/*.rotates the image whenever the user hovers over the image*/

.rotate{
    margin: auto;
    border: none;
    width: 700px;
    height: 550px;
    animation: mymove 1s ease-out;
    transform: rotate(180deg);/*sho*/
    transition: 1s ease-out;/*creates a smooth transition of the image zooming back to its original size*/
}

/*rotates image 2*/
.rotate:hover{
    transform: rotate(-180deg);
    transition: 1s ease-out;
}

@keyframes mymove {
  50% {transform: rotate(180deg);}
}

/*Image two*/

.zoom{
    transform: scale(1);/*sets the base size of the image 2 for a zoom in effect*/
    transition: 0.5s ease-out;/*creates a smooth transition of the image zooming back to its original size*/
    z-index: 3;/*sets image position in the stack layer behind navbar so zoom effect does not cover the navbar*/
}

/*creates a zoom in effect on image 2*/
.zoom:hover{
    transform: scale(0.5);
    transition: 0.5s ease-out;
}

/*image3*/
/*slide an 60% opacity color over the image 3*/
.wrapper {
    position: relative;
    overflow: hidden;
    width: 700px; 
    height: 550px; 
    border: none;
}

#slide {
    position: absolute;
    left: -700px; 
    width: 100%;
    height: 100%;
    background: aquamarine;
    opacity: .6;
    transition: left 1s ease;
}

.wrapper:hover #slide {
    left: 0;
}