/*These fonts comes from fonts.google.com*/
/* font-family: "Rubik Wet Paint", system-ui; is for H1*/
/*font-family: "Amatic SC", sans-serif; is for p*/
/*font-family: "New Rocker", system-ui; is for the h2*/
/* font-family: "Metal Mania", system-ui; for video section */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Metal+Mania&family=New+Rocker&family=Rubik+Wet+Paint&display=swap');

/*Another note fun fact if i put them all in the cart they will be added to the embed code link*/

html {
    overflow-x: hidden;
    /*prevents the brower froms displaying left to right scroll*/
    scroll-behavior: smooth
        /*smooth scrolling effect when one of the links is click*/
    ;
}

/*NAVBAR*/
.nav-bar {
    position: fixed;
    right: 0;
    top: 0;
    height: 700px;
    width: 170px;
    padding-top: 20px;
    padding: 10px 16px;
    background-color: rgb(68, 24, 24);
    background-image: linear-gradient(to bottom, rgb(68, 24, 24), rgb(18, 17, 17));
    z-index: 4;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 16px 16px;
    width: 150px;
    text-align: center;
}

li a {
    display: block;
    font-family: "New Rocker", system-ui;
    font-size: 20px;
    color: rgb(183, 172, 172);
    text-align: center;
    text-decoration: none;
    padding: 16px;
    padding-bottom: 30px;
}

/*The hover effects for the navbar*/
.hover-underline {
    position: relative;
    display: inline-block;
    margin-bottom: -10px
}

/* The underline bars for hover*/
.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #491515, #9c434d);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

/* Top bar for hover*/
.hover-underline::before {
    top: -5px;
    bottom: auto;
    transform-origin: left;
}

/* On hover, expand the lines */
.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

/**/

/*Blockquote*/

blockquote {
    font-family: "Amatic SC", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(183, 172, 172);
    width: 90%;
    margin: 30px;
}

/*Slide in the blockqoute from the left to the right*/
.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 2s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/**/

/*HEADING, P, AND BACKGROUND*/

h1 {
    font-family: "Rubik Wet Paint", system-ui;
    background-image: linear-gradient(#ff0000, #9c434d);
    color: transparent;
    background-clip: text;
    text-align: center;
}

/*Fade the H1 text*/
.fade-in-text {
    animation: fadeIn 3s ease-in-out;
    /* 'fadeIn' is the animation name, '3s' is the duration, 'ease-in-out' is the timing function */
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


h2,
h3 {
    font-family: "New Rocker", system-ui;
    color: rgb(183, 172, 172);
}

/*paragraphs*/
p {
    font-family: "Amatic SC", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: rgb(183, 172, 172);
    text-align: left;
}

.p2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: rgb(183, 172, 172);
    text-align: justify;
    padding-left: 30px;
}



/*Background*/
body {
    background-color: rgb(18, 17, 17);
    width: fit-content;
    padding-right: 250px;
    padding-left: 50px;
}


.row-background {
    background: linear-gradient(to bottom, rgb(18, 17, 17), rgb(68, 24, 24));
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/*Creates Spikes between the section*/
.spikes {
    position: relative;
    background: rgb(68, 24, 24);
}

.spikes::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -75px;
    /* pulls spike below section */
    height: 75px;
    background-size: 75px 100%;
    background-image:
        linear-gradient(135deg, rgb(68, 24, 24) 25%, transparent 25%),
        linear-gradient(225deg, rgb(68, 24, 24) 25%, transparent 25%);
}


.spikes {
    margin-bottom: 55px;
}


.spikes2 {
    position: relative;
    background: rgb(68, 24, 24);
}

.spikes2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -75px;
    height: 75px;

    background-size: 75px 100%;
    background-image:
        linear-gradient(135deg, rgb(68, 24, 24) 25%, transparent 25%),
        linear-gradient(225deg, rgb(68, 24, 24) 25%, transparent 25%);
}

.spikes2 {
    margin-bottom: 55px;
    padding-bottom: 100px;
}

/*VIDEO*/
iframe {
    display: table;
    margin: auto;
    border-radius: 20px;
    border: none;
}


#video {
    padding-top: 5px;
    padding-bottom: 50px;
    height: 500px;
    width: 800px;
}


/*H2 videos*/
#Videos-h3 {
    font-family: "Rubik Wet Paint", system-ui;
    background-image: linear-gradient(#ff0000, #9c434d);
    color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 40px;
}



/*IMAGES*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px, 4px 0 rgb(18, 17, 17, 0.2);
    background-color: black;

}

.img-Boardgame {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px, 8px 0 rgba(0, 0, 0, 0.4),
        0 6px 20px 0 rgba(0, 0, 0, 19);
}


.img-videogame {
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px, 8px 0 rgba(0, 0, 0, 0.4),
        0 6px 20px 0 rgba(0, 0, 0, 19);
}


/*FORM*/
form input {
    font-family: "Amatic SC", sans-serif;
    background-color: rgb(204, 193, 193);
    font-size: 20px;
    font-weight: 700;
    color: black;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transition: 0.3 ease-out;
}

form input:focus {
    border: 2px solid #960f0f;
    color: black;
    outline: none;
    transition: 0.3s ease-out;
}

label {
    font-family: "Amatic SC", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

textarea {
    width: 50%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: "Amatic SC", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    transition: 0.3s ease-out;
    background-color: rgb(204, 193, 193);
}

textarea:focus {
    color: black;
    border: 3px solid #960f0f;
    transition: 0.3s ease-out;
    outline: none;
}

input[type="submit"] {
    background-color: #960f0f;
    border: none;
    font-family: "Amatic SC", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
    margin-top: 15px;
    color: black;
    cursor: pointer;
    float: left;
}

input[type="submit"]:hover {
    background-color: #9c434d;
}



/*FOOTER*/
footer {
    color: rgb(165, 165, 165);
    margin-top: 70px;
    /*negative margins stretch the footer background beyond the web browser screen edge on the left and right*/
    margin-left: 25%;
    bottom: 0;
}